footer {
    font-family: "Outfit", sans-serif;
    background-color: rgb(104, 0, 0);
    color: white;
    min-height: 20vh;
    display: flex;
    align-items: center;
}

.conteiner{
    width: 100%;
    min-height: 100%;
   display: flex; 
   align-items: center;
    justify-content: space-around;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    
}
li {
    list-style: none;
    
}

h4{
    font-size: 0.85rem;
}
span{
    margin-left:5px;
}

a{
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}a:hover{
    color: #555;
    transition: 0.700s;
}

.copyright{
    background-color: #555;
    color: #fff;
    font-size: 10px;
}




@media screen and (min-width: 0px) and (max-width: 600px) and (orientation:portrait){
    

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    a{
        font-size: 0.5rem;
    }
}
