<main class="body">

<div class="bgHeader">
    <div>
      <h2> Conheça nossa história: </h2> 
      <div id="descr"> Sobre nós | Eurípedes Simões de Paula </div>
    </div>

</div>

    <div class="conteiner">
      <p>
    
        A Eurípedes Simões de Paula tem uma história rica e inspiradora que remonta a 1980. Desde então, temos nos dedicado a proporcionar uma educação de qualidade e a cultivar um ambiente de aprendizado positivo para nossos alunos. <br><br>
        
        Nossa escola começou como um pequeno projeto com a visão de oferecer educação acessível e de alta qualidade para a comunidade local. Ao longo dos anos, crescemos e nos desenvolvemos, adaptando-nos às mudanças nas necessidades educacionais e na sociedade em geral. <br><br>
        
        Ao longo de nossa jornada, alcançamos muitos marcos significativos, incluindo a expansão de nossas instalações, a introdução de novos programas acadêmicos e extracurriculares e o reconhecimento por nossas realizações acadêmicas e comunitárias.<br><br>
        
        Nossa escola tem uma longa tradição de excelência acadêmica, liderança e serviço à comunidade. Estamos orgulhosos do legado deixado por nossos fundadores e continuamos comprometidos em proporcionar uma educação excepcional que prepara nossos alunos para o sucesso no futuro.<br><br>
        
        Neste site, você encontrará mais detalhes sobre os eventos e pessoas que moldaram nossa história, bem como os valores fundamentais que nos guiam em nosso trabalho diário. Estamos emocionados em compartilhar nossa história com você e esperamos que você se sinta inspirado pelo que nossa escola alcançou ao longo dos anos.<br><br>
        
        Se você tiver alguma história para compartilhar sobre sua experiência na escola ou tiver alguma dúvida sobre nossa história, não hesite em entrar em contato conosco. Estamos ansiosos para ouvir de você e continuar a escrever a história de nossa escola juntos. <br><br>
        
        Obrigado por fazer parte da nossa comunidade escolar e por compartilhar este capítulo de nossa história conosco. <br><br> 
        
        Atenciosamente,
        Imprensa Jovem ESP 2024 
        
        
      </p>
      <div class="conteiner2"> 

        <div class="divImg">
          <img class="velho" src="../../assets/velho.jpeg" >
        </div>
        <div style="padding: 5px;">
          <p class="vei"> Eurípedes Simões de Paula  (1910 - 1977) foi um advogado, historiador e professor universitário brasileiro. Uma das figuras mais proeminentes na disciplina de História no país, Eurípedes foi essencial para o estabelecimento do Instituto de Psicologia da Universidade de São Paulo. Ele foi homenageado na escolha do nome de nossa instituição. </p>
        </div>
        

      </div>
</div>

</main>