<!-- Menu -->
<section>
    <header class="">
        <nav>
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
            <ul class="nav-links">
                <li><a href="/inicio"><i class="fas fa-home"></i> Início</a></li>
                <li><a href="/news"><i class="fas fa-search"></i> Notícias</a></li>
                <li><a href="/calendario" target="_self"><i class="fas fa-envelope"></i> Calendário</a></li>
                <li>
                    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                    <a href="/sobre"><i class="fas fa-user"></i> Sobre</a></li>
            </ul>
        </nav>
    </header>
</section>