<!-- seção dos 3 cards -->
<section>

    <!-- imagem de e titulo principal -->

    <div class="tl">
        <img src="../../assets/aspas.png" alt="imagem de aspas">
        <h1>Citações de Entrevistas</h1>
    </div>

    <!-- container onde irá ter os cards -->
    <div class="container">

        <div class="column">

            <p>"Aumente a credibilidade do seu produto e serviço inserindo depoimentos dos clientes. Todo mundo
                adora recomendações, por isso, o depoimento de outras pessoas que já o experimentaram é
                inestimável." "Aumente a credibilidade do seu produto e serviço inserindo depoimentos dos
                clientes.
                Todo mundo adora recomendações, por isso, o depoimento de outras pessoas que já o experimentaram
                é
                inestimável."</p>

            <p class="citação">- José Matos</p>

        </div>

        <div class="column">

            <p>"Aumente a credibilidade do seu produto e serviço inserindo depoimentos dos clientes. As pessoas
                adoram recomendações, então o depoimento de outros clientes é inestimável. Envie mais
                depoimentos
                aqui!"</p>

            <p class="citação">- Larissa Andrade</p>

        </div>

        <div class="column">

            <p>"Aumente a credibilidade do seu produto e serviço inserindo depoimentos dos clientes. As pessoas
                adoram recomendações, então o depoimento de outros clientes é inestimável. Aumente a
                credibilidade
                do seu produto e serviço inserindo depoimentos dos seus clientes. "
            <p>

            <p class="citação">- Alberte Lemos </p>

        </div>

    </div>

    <div class="tl-2"><img src="../../assets/aspas-contraria.png" alt="imagem de aspas" class="asp"></div>

    <div class="container-2">

        <img src="../../assets/tabata-amaral" alt="" class="tba">

        <div class="column-2">

            <h1>Visita ou Campanha?</h1>

            <h2>josé Afonso</h2>

            <p>Após visitar a escola Euripedes Simôes de Paula no dia 08/03, para dar palestra sobre as mulheres
                no governo e no poder político, a deputada federal Tabata Amaral dividiu opiniões.</p>

        </div>

    </div>

    <div class="container-3">
        <div class="column-3">

            <p>No dia 08/03, dia internacional das mulheres, a nossa escola Prof Eurípedes Simões de Paula
                recebeu a deputada federal Tabata Amaral, que palestrou e respondeu algumas perguntas dos alunos
                referente a mulheres na política e sua carreira pessoal. Foi feita uma pré entrevista com a
                Imprensa Jovem da escola no primeiro tempo, onde a deputada respondeu algumas perguntas sobre
                sua carreira e crescimento na política, e na palestra em si foram respondidas apenas 4
                perguntas, o que deixou muitos alunos intrigados e sem respostas.

                A palestra se iniciou com a deputada perguntando para os alunos quem tinha um “grande sonho”,
                estratégia usada para pegar intimidade com os alunos e gerar um grau de proximidade ou
                equivalência, e disse que seu objetivo era fazer que ao menos uma pessoa tivesse interesse em
                entrar para a política, seja aluno, professor ou funcionário.</p>

        </div>
        <div class="column-3">

            <p> Seu discurso seguiu explanando os desafios que ela enfrentou na política, em como os professores a
                ajudou a entrar em Harvard, problemas familiares e sobre a saúde mental.
                O que era pra ser uma palestra sobre o dia das mulheres e a importância das mesmas em cargos
                políticos, sobretudo mulheres periféricas por se tratar de uma escola pública de região pobre, deu a
                impressão a muitos alunos em ser uma promoção individual, ou campanha política. Sem contar nos
                desvios de respostas objetivas quando abriu o tempo para os alunos perguntarem, além de serem poucas
                perguntas, foram respondidas de formas indiretas, desviando do que foi questionado em si.</p>
        </div>

        <div class="column-3">

            <p>No entanto, o discurso feito e o clímax de sua superação e dificuldades se deu no encontro com a
                vivência da maioria dos alunos, o que pode ter motivado muitos a não desistirem dos seus objetivos e
                a terem esperança de alcançar cargos e lugares que nunca imaginariam, embora tenhamos a consciência
                de que as oportunidades para estudantes periféricos, sobretudo mulheres e mulheres negras, são muito
                baixas.</p>

            <img src="imagens/logo-imprensa.png" alt="">
        </div>

    </div>

    <div class="container-4">

        <img src="imagens/celular-tabata.png" alt="" class="tba">

        <div class="column-4">
            <!-- <video src=""></video> futuro video -->
            <h1>Assista a entrevista <br>
                clicando ao lado!</h1>

            <p class="pVideo"> Entrevista completa com a Deputada Tabata Amaral, exclusiva e disponivel apenas nos meios comunicativos
                da imprensa jovem. Compartilhe com seus conhecidos e deixe sua opinião! <br><br>
                A entrevista irá ficar disponivel no nosso site e nos meios de comunicação até dia xx/xx. Não perca!</p>

        </div>

    </div>

</section>