/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jomhuria&family=Outfit:wght@100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: Arial, sans-serif;
    /* background-color: black; */
}