<!-- Página Inicial -->
<section>
    <div class="container">
        <div style="display: flex;" class="inicio">
            <div class="texto">

                <!-- <span>Entrevistas<br>Imprensa Jovem</span> -->

                <h1>Imprensa Jovem</h1>

                <!-- <p>Essa página é direcionada as entrevistas realizadas pela imprensa jovem. Desde vídeos a citações
                    escritas,essa página é dedicada a guardar todas as reportagens e citações dos nossos entrevistados
                    para
                    todo puderem ver.</p> -->
                <p>Acompanhe os eventos, atividades e outras notícias nosso ambiente escolar.</p>
            </div>

            <div class="logo"> <img src=".../../../../assets/loog.png" alt="logo"></div>

        </div>
    </div>
</section>